body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 177, 59);
color: white;
font-family: 'Roboto';
}
.stopwatch h1{
    font-size: 5rem;
}

.stopwatch {
    text-align: center;
}

#display {
    font-size: 3em;
    font-weight: bold;
}

.controls {
    margin-top: 20px;
}

button {
    background-color: rgb(255, 177, 59);
    border-color: white;
    color: white;
    border-radius: 8px;
    border-style: solid;
    font-size: 1em;
    padding: 20px 40px;
    margin: 0 10px;
}